header
  .top-contact
    .container
      .row
        .item.d-flex.align-items-center
          .icon.eye
            a.d-flex.align-items-center(href="#")
              svg(viewBox="-16 -98 533.3299 533")
                path(d="M401.753906 40.5c-91.976562-61.003906-211.539062-61.003906-303.515625 0C54.871094 69.257812 21.015625 110.238281.957031 158.253906c-1.277343 3.074219-1.277343 6.53125 0 9.601563C21.019531 215.871094 54.875 256.851562 98.25 285.613281c91.972656 61 211.53125 61 303.507812 0 43.367188-28.761719 77.226563-69.742187 97.28125-117.757812 1.277344-3.070313 1.277344-6.527344 0-9.601563C478.984375 110.238281 445.121094 69.257812 401.753906 40.5zm-13.894531 224.328125c-83.566406 55.378906-192.160156 55.378906-275.726563 0-37.78125-25.050781-67.621093-60.351563-86.035156-101.773437 18.414063-41.417969 48.253906-76.722657 86.035156-101.769532 83.566407-55.382812 192.160157-55.382812 275.726563 0 37.773437 25.046875 67.621094 60.351563 86.035156 101.769532-18.414062 41.421874-48.261719 76.722656-86.035156 101.773437zm0 0")
                path(d="M160.09375 73.152344c-49.648438 49.65625-49.648438 130.152344 0 179.800781 49.652344 49.652344 130.152344 49.652344 179.796875 0 49.65625-49.648437 49.65625-130.144531 0-179.800781-49.644531-49.644532-130.144531-49.644532-179.796875 0zM322.222656 235.28125c-39.878906 39.839844-104.5 39.820312-144.355468-.042969-39.851563-39.867187-39.851563-104.492187 0-144.355469 39.855468-39.867187 104.476562-39.886718 144.355468-.042968 39.910156 39.871094 39.910156 104.5625 0 144.441406zm0 0")
                path(d="M211.335938 124.394531c-21.324219 21.367188-21.324219 55.957031 0 77.324219 21.351562 21.351562 55.96875 21.351562 77.320312 0 21.355469-21.355469 21.355469-55.972656 0-77.324219-21.351562-21.359375-55.96875-21.359375-77.320312 0zm59.644531 59.648438c-11.589844 11.589843-30.378907 11.589843-41.96875 0-11.59375-11.59375-11.59375-30.382813 0-41.972657 11.589843-11.59375 30.378906-11.59375 41.96875 0 11.59375 11.589844 11.59375 30.378907 0 41.972657zm0 0")
              p.mb-0.d-lg-block.d-none Версия для слабовидящих
          .icon.map
            a.d-flex.align-items-center(href="#" data-bs-toggle="modal" data-bs-target="#searchModal")
              svg(fill="none" viewBox="0 0 14 18")
                g(fill="#425175" clip-path="url(#a)")
                  path(d="M6.75002 3.52173c-1.61824 0-2.93477 1.31653-2.93477 2.93477s1.31653 2.93481 2.93477 2.93481 2.93477-1.31653 2.93477-2.93477c0-1.61825-1.31653-2.93481-2.93477-2.93481Zm0 4.69568c-.97095 0-1.76087-.78993-1.76087-1.76087 0-.97095.78992-1.76087 1.76087-1.76087s1.76087.78992 1.76087 1.76087c0 .97094-.78992 1.76087-1.76087 1.76087Z")
                  path(d="M6.75 0C3.02806 0 0 2.89642 0 6.45655 0 8.94684.780363 9.92348 6.23978 17.7392c.24269.3474.77727.3481 1.02044 0C12.7485 9.88565 13.5 8.92226 13.5 6.45655 13.5 2.89642 10.4719 0 6.75 0Zm.00004 16.3568c-4.9019-7.0127-5.52271-7.86446-5.52271-9.90025C1.22729 3.54371 3.70478 1.1739 6.75 1.1739c3.04522 0 5.5227 2.36978 5.5227 5.28261 0 1.9652-.4723 2.67289-5.52266 9.90029Z")
                defs
                  clipPath(id="a")
                    path(fill="#fff" d="M0 0h13.5v18H0z")                  
              p.mb-0.d-lg-block.d-none ул. Дианова, 8
          .icon.map
            a.d-flex.align-items-center(href="#" data-bs-toggle="modal" data-bs-target="#searchModal")
              svg(fill="none" viewBox="0 0 14 18")
                g(fill="#425175" clip-path="url(#a)")
                  path(d="M6.75002 3.52173c-1.61824 0-2.93477 1.31653-2.93477 2.93477s1.31653 2.93481 2.93477 2.93481 2.93477-1.31653 2.93477-2.93477c0-1.61825-1.31653-2.93481-2.93477-2.93481Zm0 4.69568c-.97095 0-1.76087-.78993-1.76087-1.76087 0-.97095.78992-1.76087 1.76087-1.76087s1.76087.78992 1.76087 1.76087c0 .97094-.78992 1.76087-1.76087 1.76087Z")
                  path(d="M6.75 0C3.02806 0 0 2.89642 0 6.45655 0 8.94684.780363 9.92348 6.23978 17.7392c.24269.3474.77727.3481 1.02044 0C12.7485 9.88565 13.5 8.92226 13.5 6.45655 13.5 2.89642 10.4719 0 6.75 0Zm.00004 16.3568c-4.9019-7.0127-5.52271-7.86446-5.52271-9.90025C1.22729 3.54371 3.70478 1.1739 6.75 1.1739c3.04522 0 5.5227 2.36978 5.5227 5.28261 0 1.9652-.4723 2.67289-5.52266 9.90029Z")
                defs
                  clipPath(id="a")
                    path(fill="#fff" d="M0 0h13.5v18H0z")  
              p.mb-0.d-lg-block.d-none пр. Комарова, 17 к 2
          .social-icon.ms-auto
            a(href="#" target="_blank") 
              svg.telegram(width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_44_274)")
                  path(d="M7.0627 9.88566L6.76495 14.0737C7.19095 14.0737 7.37545 13.8907 7.5967 13.6709L9.59395 11.7622L13.7324 14.7929C14.4914 15.2159 15.0262 14.9932 15.2309 14.0947L17.9474 1.36566L17.9482 1.36491C18.1889 0.242907 17.5424 -0.195843 16.8029 0.0794074L0.83545 6.19266C-0.2543 6.61566 -0.2378 7.22316 0.6502 7.49841L4.73245 8.76816L14.2147 2.83491C14.6609 2.53941 15.0667 2.70291 14.7329 2.99841L7.0627 9.88566Z" fill="#425175")
                defs
                  clipPath(id="clip0_44_274")
                    rect(width="18" height="15" fill="white")
            a(href="#" target="_blank")
              svg.whatsapp(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_44_270)")
                  path(d="M0 18L1.548 13.3563C0.762517 12.0352 0.310345 10.4934 0.310345 8.84483C0.310345 3.96 4.27034 0 9.15517 0C14.04 0 18 3.96 18 8.84483C18 13.7297 14.04 17.6897 9.15517 17.6897C7.66893 17.6897 6.26928 17.3213 5.04 16.6739L0 18Z" fill="#425175")
                  path(d="M14.7982 11.7885C14.3898 11.0166 12.8837 10.134 12.8837 10.134C12.5429 9.93973 12.1317 9.91801 11.9374 10.2644C11.9374 10.2644 11.448 10.8512 11.3235 10.9356C10.755 11.3208 10.2283 11.3059 9.69672 10.7743L8.46124 9.53877L7.22576 8.30329C6.69414 7.77167 6.67924 7.24501 7.06438 6.67646C7.14879 6.55201 7.73565 6.0626 7.73565 6.0626C8.082 5.86801 8.06027 5.45711 7.866 5.11635C7.866 5.11635 6.98338 3.61025 6.21155 3.20184C5.88321 3.02804 5.48007 3.08887 5.21752 3.35142L4.67193 3.89701C2.94114 5.6278 3.79334 7.58173 5.52414 9.31253L7.10596 10.8944L8.68779 12.4762C10.4186 14.207 12.3725 15.0592 14.1033 13.3284L14.6489 12.7828C14.9114 12.5196 14.972 12.1165 14.7982 11.7885Z" fill="#F4EEE5")
                defs
                  clipPath(id="clip0_44_270")
                    rect(width="18" height="18" fill="white")
            a(href="#" target="_blank") 
              svg.ok(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_44_276)")
                  path(d="M9.00848 7.45908C9.86787 7.45594 10.5523 6.76559 10.5492 5.90435C10.5461 5.04275 9.86014 4.35718 9.00037 4.35645C8.13343 4.35553 7.44105 5.0538 7.44768 5.92314C7.45412 6.78124 8.14632 7.46221 9.00848 7.45908Z" fill="#425175")
                  path(d="M9 0C4.02942 0 0 4.02961 0 9C0 13.9704 4.02942 18 9 18C13.9706 18 18 13.9704 18 9C18 4.02961 13.9706 0 9 0ZM9.01289 2.73692C10.7659 2.74171 12.173 4.17563 12.1639 5.94801C12.1551 7.67951 10.7251 9.08286 8.97496 9.07697C7.24272 9.07108 5.82206 7.63495 5.83237 5.89995C5.84213 4.14598 7.26353 2.73213 9.01289 2.73692ZM12.5635 10.3225C12.1759 10.7204 11.7093 11.0084 11.1911 11.2094C10.7013 11.3992 10.1645 11.4948 9.63308 11.5585C9.71355 11.6458 9.7513 11.6887 9.80139 11.7388C10.5225 12.4637 11.2471 13.185 11.9658 13.912C12.2107 14.1599 12.2617 14.467 12.1269 14.7548C11.9798 15.0697 11.6496 15.2767 11.3257 15.2544C11.1206 15.2402 10.9606 15.1384 10.8186 14.9953C10.2743 14.4477 9.71963 13.9098 9.18672 13.3519C9.03112 13.1894 8.95673 13.2204 8.81954 13.3614C8.27208 13.9253 7.7156 14.4801 7.15599 15.032C6.90463 15.2798 6.60559 15.3248 6.3139 15.183C6.00399 15.0331 5.80696 14.7165 5.82206 14.3982C5.83274 14.1834 5.93843 14.0188 6.08612 13.8719C6.80004 13.1594 7.51175 12.4448 8.22365 11.7307C8.27098 11.6833 8.3148 11.6331 8.38349 11.5594C7.4125 11.4579 6.5369 11.2189 5.78725 10.6328C5.69408 10.5599 5.59814 10.4895 5.51343 10.4078C5.1851 10.0927 5.15214 9.7316 5.4116 9.36C5.63386 9.0418 6.00657 8.95673 6.39419 9.13958C6.46932 9.17475 6.54077 9.21931 6.60927 9.26645C8.00618 10.2264 9.92532 10.2527 11.3278 9.30936C11.4666 9.20329 11.6152 9.11601 11.7874 9.072C12.1218 8.98582 12.4341 9.10901 12.6134 9.4018C12.8188 9.73639 12.8164 10.0627 12.5635 10.3225Z" fill="#425175")
                defs
                  clipPath(id="clip0_44_276")
                    rect(width="18" height="18" fill="white")
            a(href="#" target="_blank") 
              svg.vk(width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_44_281)")
                  path(d="M19.8939 10.3994C19.8697 10.3468 19.8471 10.3031 19.8262 10.2681C19.4792 9.63742 18.8161 8.86332 17.8372 7.94557L17.8166 7.92455L17.8062 7.91425L17.7957 7.90369H17.7852C17.341 7.47634 17.0597 7.18899 16.9419 7.04188C16.7263 6.76164 16.678 6.47798 16.7959 6.19056C16.8791 5.97341 17.1917 5.51481 17.733 4.81414C18.0178 4.44281 18.2433 4.1452 18.4098 3.92097C19.6109 2.30962 20.1316 1.27994 19.9719 0.831538L19.9098 0.726752C19.8681 0.663667 19.7606 0.605956 19.5872 0.553323C19.4134 0.500802 19.1914 0.492116 18.9206 0.527118L15.9216 0.548024C15.8731 0.530651 15.8037 0.532271 15.7133 0.553323C15.623 0.574376 15.5779 0.58494 15.5779 0.58494L15.5257 0.611256L15.4843 0.642872C15.4495 0.663777 15.4114 0.700547 15.3697 0.753105C15.3282 0.80548 15.2935 0.866945 15.2658 0.936986C14.9393 1.78466 14.5681 2.57278 14.1515 3.30131C13.8946 3.73573 13.6587 4.11222 13.4432 4.43099C13.2281 4.74966 13.0476 4.98444 12.9019 5.13494C12.756 5.28558 12.6244 5.40627 12.5061 5.49744C12.388 5.58864 12.2979 5.62718 12.2355 5.61308C12.173 5.59898 12.1141 5.585 12.0583 5.57101C11.9612 5.50793 11.883 5.42213 11.8241 5.31356C11.765 5.20498 11.7252 5.06832 11.7043 4.90369C11.6836 4.73895 11.6714 4.59724 11.6679 4.4781C11.6646 4.35911 11.6661 4.1908 11.6732 3.97364C11.6804 3.75638 11.6836 3.60938 11.6836 3.53231C11.6836 3.26605 11.6888 2.97709 11.6991 2.66535C11.7096 2.3536 11.7181 2.1066 11.7252 1.92463C11.7323 1.74248 11.7356 1.54977 11.7356 1.3466C11.7356 1.14343 11.7233 0.984098 11.6991 0.868454C11.6752 0.752958 11.6384 0.640848 11.59 0.53216C11.5413 0.423583 11.4701 0.339593 11.3766 0.279967C11.2829 0.220416 11.1664 0.173157 11.0277 0.138044C10.6598 0.0540169 10.1912 0.00856189 9.62183 0.00149519C8.33067 -0.012491 7.50103 0.0716468 7.1331 0.253798C6.98732 0.330759 6.8554 0.435913 6.73745 0.568929C6.61245 0.723108 6.59502 0.807247 6.68525 0.821086C7.10184 0.88406 7.39676 1.03471 7.57033 1.27288L7.63288 1.39908C7.68153 1.49014 7.73012 1.65135 7.77873 1.88249C7.82728 2.11363 7.85861 2.36932 7.87239 2.64941C7.90704 3.1609 7.90704 3.59874 7.87239 3.96297C7.83764 4.32735 7.80481 4.61101 7.77348 4.81418C7.74215 5.01734 7.69532 5.18198 7.63288 5.30804C7.57033 5.43413 7.52872 5.5112 7.50785 5.53918C7.48703 5.56715 7.46967 5.58478 7.45588 5.5917C7.36565 5.62659 7.2718 5.64437 7.17468 5.64437C7.0774 5.64437 6.95945 5.59527 6.82064 5.49714C6.68186 5.39902 6.53783 5.26424 6.38855 5.09257C6.23927 4.92088 6.07091 4.68094 5.88341 4.37273C5.69605 4.06452 5.50165 3.70025 5.30032 3.27993L5.13375 2.9751C5.02962 2.779 4.88738 2.49346 4.70688 2.11874C4.52627 1.74388 4.36663 1.38127 4.22785 1.03099C4.17237 0.883876 4.08904 0.771876 3.97798 0.694805L3.92586 0.663189C3.89121 0.635216 3.83559 0.605514 3.75929 0.573861C3.68288 0.542245 3.60315 0.519572 3.51977 0.505623L0.66657 0.526529C0.37501 0.526529 0.177183 0.593184 0.0730178 0.72631L0.0313298 0.789285C0.0105041 0.824361 0 0.880379 0 0.957487C0 1.03456 0.0208258 1.12915 0.0625138 1.24115C0.479029 2.22901 0.93198 3.18173 1.42137 4.09945C1.91075 5.01716 2.33602 5.7564 2.69692 6.31651C3.05789 6.87703 3.42582 7.40604 3.80072 7.90328C4.17562 8.40071 4.42378 8.71949 4.5452 8.85953C4.66676 8.99984 4.76224 9.10473 4.83165 9.17477L5.09203 9.42693C5.25863 9.59509 5.50329 9.79649 5.82611 10.0311C6.149 10.2659 6.50646 10.4971 6.89869 10.7249C7.29099 10.9524 7.74737 11.1381 8.26808 11.2816C8.78873 11.4254 9.29548 11.483 9.7884 11.4552H10.9859C11.2288 11.4341 11.4128 11.357 11.5379 11.224L11.5793 11.1713C11.6072 11.1295 11.6333 11.0645 11.6573 10.9771C11.6817 10.8896 11.6938 10.7931 11.6938 10.6882C11.6867 10.387 11.7094 10.1155 11.7613 9.87386C11.8132 9.63227 11.8724 9.45012 11.9386 9.32744C12.0047 9.20488 12.0793 9.10145 12.1624 9.01761C12.2456 8.93358 12.3049 8.88268 12.3397 8.86516C12.3743 8.84753 12.4019 8.83557 12.4227 8.82839C12.5893 8.77238 12.7854 8.82663 13.0112 8.99141C13.2369 9.15604 13.4485 9.35932 13.6465 9.60091C13.8444 9.84272 14.0821 10.114 14.3597 10.4152C14.6375 10.7165 14.8804 10.9405 15.0886 11.0878L15.2968 11.2139C15.4358 11.298 15.6163 11.3751 15.8385 11.4451C16.0603 11.5151 16.2546 11.5327 16.4215 11.4977L19.0872 11.4557C19.3508 11.4557 19.556 11.4116 19.7015 11.3242C19.8473 11.2367 19.9339 11.1402 19.9619 11.0353C19.9897 10.9302 19.9912 10.811 19.9672 10.6778C19.9425 10.5449 19.9181 10.452 19.8939 10.3994Z" fill="#425175")
                defs
                  clipPath(id="clip0_44_281")
                    rect(width="20" height="11.5152" fill="white")
            a(href="#" target="_blank")
              svg.youtube.me-0(width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_44_268)")
                  path(d="M14.2616 0H3.73837C1.67372 0 0 1.63749 0 3.65745V8.80409C0 10.824 1.67372 12.4615 3.73837 12.4615H14.2616C16.3263 12.4615 18 10.824 18 8.80409V3.65745C18 1.63749 16.3263 0 14.2616 0ZM11.7334 6.48117L6.81133 8.77789C6.68017 8.83908 6.52868 8.74553 6.52868 8.60339V3.8664C6.52868 3.72223 6.68415 3.6288 6.81558 3.69397L11.7377 6.13424C11.884 6.20678 11.8815 6.41211 11.7334 6.48117Z" fill="#425175")
                defs
                  clipPath(id="clip0_44_268")
                    rect(width="18" height="12.4615" fill="white")
            //- a(href="#" target="_blank")
            //-   svg.viber(xml:space="preserve" viewBox="0 0 322 322")
            //-     path(d="M275.445 135.123c.387-45.398-38.279-87.016-86.192-92.771-.953-.113-1.991-.285-3.09-.467-2.372-.393-4.825-.797-7.3-.797-9.82 0-12.445 6.898-13.136 11.012-.672 4-.031 7.359 1.902 9.988 3.252 4.422 8.974 5.207 13.57 5.836 1.347.186 2.618.359 3.682.598 43.048 9.619 57.543 24.742 64.627 67.424.173 1.043.251 2.328.334 3.691.309 5.102.953 15.717 12.365 15.717h.001c.95 0 1.971-.082 3.034-.244 10.627-1.615 10.294-11.318 10.134-15.98-.045-1.313-.088-2.555.023-3.381.03-.208.045-.417.046-.626z")
            //-     path(d="M176.077 25.688c1.275.092 2.482.18 3.487.334 70.689 10.871 103.198 44.363 112.207 115.605.153 1.211.177 2.688.202 4.252.09 5.566.275 17.145 12.71 17.385l.386.004c3.9 0 7.002-1.176 9.221-3.498 3.871-4.049 3.601-10.064 3.383-14.898-.053-1.186-.104-2.303-.091-3.281.899-72.862-62.171-138.933-134.968-141.39-.302-.01-.59.006-.881.047-.143.021-.408.047-.862.047-.726 0-1.619-.063-2.566-.127C177.16.09 175.862 0 174.546 0c-11.593 0-13.797 8.24-14.079 13.152-.65 11.352 10.332 12.151 15.61 12.536zM288.36 233.703c-1.503-1.148-3.057-2.336-4.512-3.508-7.718-6.211-15.929-11.936-23.87-17.473-1.648-1.148-3.296-2.297-4.938-3.449-10.172-7.145-19.317-10.617-27.957-10.617-11.637 0-21.783 6.43-30.157 19.109-3.71 5.621-8.211 8.354-13.758 8.354-3.28 0-7.007-.936-11.076-2.783-32.833-14.889-56.278-37.717-69.685-67.85-6.481-14.564-4.38-24.084 7.026-31.832 6.477-4.396 18.533-12.58 17.679-28.252-.967-17.797-40.235-71.346-56.78-77.428-7.005-2.576-14.365-2.6-21.915-.06-19.02 6.394-32.669 17.623-39.475 32.471-6.577 14.347-6.28 31.193.859 48.717 20.638 50.666 49.654 94.84 86.245 131.293 35.816 35.684 79.837 64.914 130.839 86.875 4.597 1.978 9.419 3.057 12.94 3.844 1.2.27 2.236.5 2.991.707.415.113.843.174 1.272.178l.403.002h.002c23.988 0 52.791-21.92 61.637-46.91 7.75-21.882-6.4-32.698-17.77-41.388zM186.687 83.564c-4.107.104-12.654.316-15.653 9.021-1.403 4.068-1.235 7.6.5 10.498 2.546 4.252 7.424 5.555 11.861 6.27 16.091 2.582 24.355 11.48 26.008 28 .768 7.703 5.955 13.082 12.615 13.082h.001c.492 0 .995-.029 1.496-.09 8.01-.953 11.893-6.838 11.542-17.49.128-11.117-5.69-23.738-15.585-33.791-9.929-10.084-21.898-15.763-32.785-15.5z")
  .navbar.navbar-expand-lg.py-0
    .container
      a.navbar-brand.p-0(href="#")
        img(src="../src/assets/img/logo/logo.png" alt="Logo")
      button.navbar-toggler.ms-auto(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation")
        svg(viewBox="0 0 24 24")
          path(d="M20 5.25H2a.75.75 0 0 1 0-1.5h18a.75.75 0 0 1 0 1.5zm2 5H2a.75.75 0 0 1 0-1.5h20a.75.75 0 0 1 0 1.5zm-2 5H2a.75.75 0 0 1 0-1.5h18a.75.75 0 0 1 0 1.5zm2 5H2a.75.75 0 0 1 0-1.5h20a.75.75 0 0 1 0 1.5z" data-name="Layer 2")
      .offcanvas.offcanvas-end(tabindex="-1" aria-labelledby="offcanvasNavbarLabel" id="offcanvasNavbar")
        .offcanvas-header
          button.btn-close.ms-auto.shadow-0(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
        ul.navbar-nav.justify-content-center
          each item in ["Новости", "Обучение", ["О нас", ["Педагоги", "Родителям", "Наше творчество", "В СМИ о нас", "Статьи", "Акции", "Фото", "Видео", "Ответы на частые вопросы по чтению"]], "3D Тур", ["Документы", ["Квитанция", "Лицензии", "Договор", "Патент"]], ["Обратная связь", ["Вопрос-ответ", "Отзывы"]], "Прайс лист", "Контакты"]
            li.nav-item.dropdown
              if Array.isArray(item)
                a.nav-link.p-0.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")= item[0]
                ul.dropdown-menu.border-0.p-0
                  each subitem in item[1]
                    li: a.dropdown-item.p-0(href="#")= subitem
              else
                a.nav-link.p-0(href="#")= item
      a(href="#")
        .btn-block 
          button.btn.d-flex.align-items-center Оплатить
            svg(width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg")
              g(clip-path="url(#clip0_44_310)")
                path(d="M10.5873 10.6667C10.2313 10.6667 9.89667 10.53 9.64467 10.2817C9.12467 9.76935 9.12467 8.9364 9.64467 8.42403L11.448 6.64712H1.33333C0.598 6.64712 0 6.05789 0 5.33333C0 4.60878 0.598 4.01954 1.33333 4.01954H11.448L9.64467 2.24264C9.12467 1.73026 9.12467 0.897319 9.64467 0.384941C9.89667 0.136634 10.2313 0 10.5873 0C10.9433 0 11.278 0.136634 11.53 0.384941L15.6093 4.40448C15.8613 4.65279 16 4.98255 16 5.33333C16 5.68412 15.8613 6.01388 15.6093 6.26218L11.53 10.2817C11.278 10.53 10.9433 10.6667 10.5873 10.6667Z" fill="white")
              defs
                clipPath(id="clip0_44_310")
                  rect(width="16" height="10.6667" fill="white")